
@{
    ViewBag.Title = "Html5";
}

<div class="jumbotron">
    <h1>Html5 Upload File</h1>
    <p class="lead">Compare Article <a href="https://github.com/fex-team/webuploader/tree/research/experiment" target="_blank">https://github.com/fex-team/webuploader/tree/research/experiment</a> </p>
</div>

<!--
panel-primary
panel-success
panel-info
panel-warning
panel-danger
-->

<div class="panel panel-primary">
    <div class="panel-body">
        <h3 class="panel-heading">MD5 File Process</h3>
        <div class="well">
            <p><a href="/H5Webuploader/hash/hashFile.html" target="_blank">HASH File</a></p> 
            <p><a href="/H5Webuploader/hash/md5File.html" target="_blank">MD5 File</a></p> 
            <p><a href="/H5Webuploader/hash/md5WorkerFile.html" target="_blank">MD5 File With Worker</a></p> 
            <p><a href="/Home/MD5" target="_blank">Server MD5</a></p>
        </div>
    </div>
    <div class="panel-footer">File Process</div>
</div>

<div class="panel panel-success">
    <div class="panel-body">
        <h3 class="panel-heading">JPG Process Resize</h3>
        <div class="well">
            <p><a href="/H5Webuploader/jpgjs/Index.html" target="_blank">Process JPG File Resize</a></p>
        </div>
    </div>
    <div class="panel-footer">JPG Process Resize</div>
</div>

<div class="panel panel-warning">
    <div class="panel-body">
        <h3 class="panel-heading">PDF Preview</h3>
        <div class="well">
            <p><a href="/H5Webuploader/pdfpreview/index.html" target="_blank">PDF Preview</a></p>
        </div>
    </div>
    <div class="panel-footer">PDF Preview</div>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <h3 class="panel-heading">Image Preview & Base 64</h3>
        <div class="well">
            <p><a href="/Home/Base64" target="_blank">Image Preview & Base 64</a></p>
            <p>
                <a href="/H5Webuploader/performance/preview.html" target="_blank"> Preview Many ways in Html5</a>
            </p>
        </div>
    </div>
    <div class="panel-footer">Image Preview & Base 64</div>
</div>

<div class="panel panel-danger">
    <div class="panel-body">
        <h3 class="panel-heading">Image Resize to Compress</h3>
        <div class="well">
            <p><a href="/H5Webuploader/performance/compress.html" target="_blank">Image Resize to Compress</a></p>
        </div>
    </div>
    <div class="panel-footer">Image Resize to Compress</div>
</div>

<div class="panel panel-info">
    <div class="panel-body">
        <h3 class="panel-heading">Image Sprites</h3>
        <div class="well">
            <p><a href="/H5Webuploader/sprites/index.html" target="_blank">Image sprites to one file</a></p>
        </div>
    </div>
    <div class="panel-footer">Image Sprites</div>
</div>

<div class="panel panel-danger">
    <div class="panel-body">
        <h3 class="panel-heading">Zip file and upload</h3>
        <div class="well">
            <p><a href="/H5Webuploader/zip/index.html" target="_blank">Zip file and upload</a></p>
        </div>
    </div>
    <div class="panel-footer">Zip file and upload</div>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <h3 class="panel-heading">All in one</h3>
        <div class="well">
            <p><a href="/H5Webuploader/ajax-upload.html" target="_blank">All in one Form Data</a></p>
        </div>
    </div>
    <div class="panel-footer">All in one</div>
</div>
